body {
    background-color: rgba(204, 202, 202, 0.315);
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.picture-container {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    justify-content: center;
   
}

.coming-soon {
    flex-wrap: wrap;
    margin: 0 auto;
    width:  500px;
    height: 250px;
    justify-content: space-evenly;
    border-radius: 15px 50px;
}
